
@media (max-width:1300px){

    .top_subcontainer{
        width: 90%;
        left:30px
    }
}

@media (max-width:500px) {
    

    .top_subcontainer div {
        margin-top:2%;
        font-size: 100%;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .cone_subcontainer_2 img{
        width: 100%;
    }

    .logo {
        margin-left: 50px;
        margin-top: 50px;
          }


}
@media (max-width:500px) {
    .side_bar{
        display: flex;
        width: 100%;
    
    }
    .navbar{
        display: none;
    }

    .side_bar div{
        margin-left: 30px;
    }
    
}
