
*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 70%;
}

.home_page{
 background-image: url(../asset/image/image1.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
height: 150vh;
margin-left: -10px;
}


nav{
display: flex;
justify-content: space-between;
}
.navbar{
display: flex;
justify-content: flex-end;
width: 100%;
margin-top: 50px;
margin-right: 60px;
font-size: larger;
font-weight: bold;
color: white;
align-items: center;

}
.navbar div{

margin: 0 10px;
}
.logo{
margin-left: 100px;
margin-top: 50px;
}

.side_bar{
z-index: 999;
color:white;
display: flex;
flex-direction: column;
height: 100vh;
width: 250px;
top:  0;
right: 0;
position:fixed;
background-color: rgb(165, 29, 29);
box-shadow: -10px 0 10px rgb(19, 13, 13);
backdrop-filter: blur(40px);    
display: none;
}

.side_bar div{
margin-top: 40px;
}



.top_subcontainer{

width: 40%;
color: white;
position: relative;
left: 200px;
top: 100px;
display: flex;
flex-direction: column;
}

.top_txt1{
font-size: 80px;
font-weight: bolder;
}

.txt_img{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;

}

.img4{
width: 20%;
}
.txt4{
font-size:25px;
width:80%;
font-stretch: expanded;
}
.img5{
display: flex;
justify-content: center;
align-items: center;    
}

.top_subcontainer div{
margin-top: 20px;
}




.cone_container{

color: black;
display: flex;
flex-direction: column;
background-color: white;
margin: 100px 140px;

}

.cone_subcontainer_1{
display: flex;
columns: row;
margin: 40px 100px;

}

.cone_text_big{
font-size: 40px;
font-weight: 900;
}

.cone_subcontainer_2{

display: flex;
columns: row;
flex-wrap: wrap;
text-align: center;
justify-content: space-between;
}





/* <!--buy item--> */


.buy_container{

display: flex;
flex-direction: row;

}


.buy_subcontainer_2{

display: flex;
flex-direction: column;
justify-content: space-evenly;

}

.buy_subcontainer_2_text_1{

font-family: Balsamiq Sans;
font-size: 50px;
font-weight: 700;

}

.buy_subcontainer_2_text_2{
font-family: Balsamiq Sans;
font-size: 30px;
font-weight: 400;


}

.buy_subcontainer_2_button>button{
        font-family: Balsamiq Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        background: #CF5979;
        padding: 20px 10px;
        width: 200px;
        text-align: center;
        color: white;

}



.review_container{

color: #101010;

}

.review_text_1{

font-family: Balsamiq Sans;
font-size: 35px;
font-weight: 700;

}

.review_text_2{

font-family: Balsamiq Sans;
font-size: 20px;
font-weight: 400;

}
#menu{
    display: none;
}

.name_text1{

font-family: Balsamiq Sans;
font-size: 20px;
font-weight: 700;


}

.name_text2{

font-family: Balsamiq Sans;
font-size: 18px;
font-weight: 400;
}

.review_container{

display: flex;
flex-direction: row;
margin-top: 50px;

}

.review_subcontainer_1{

display: flex;
flex-direction: row;


}

.review_subcontainer_first{

display: flex;
justify-content: center;
align-items: center;

}

.review_subcontainer_second{

display: flex;
flex-direction: column;
justify-content: space-evenly;
}



.review_img{

position: absolute;

}

.review_text_2{
font-family: Balsamiq Sans;
font-size: 20px;
font-weight: 400;
}

.review_text_3{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.review_name_1{

display: flex;
flex-direction: column;
}



.offer_container{
background-image: url(../asset/image/Rectangle\ 8.png);
display: flex;
flex-direction: row;

}

.offer_subcontainer_1{

display: flex;
flex-direction: column;
justify-content: space-evenly;
color: #101010;
margin-left: 7%;
}

.offer_button{
font-family: Balsamiq Sans;
font-size: 20px;
font-weight: 700;
line-height: 32px;
text-align: left;
background: #CF5979;
padding: 20px 10px;
width: 200px;
text-align: center;
color: white;


}

.offer_text1{
font-family: Balsamiq Sans;
font-size: 35px;
font-weight: 700;


}


.offer_text2{

font-family: Balsamiq Sans;
font-size: 20px;
font-weight: 400;
}



.footer_container a, .top a{
text-decoration: none;
}

.footer_container{
width:100%;
height:100px;
background-color: black;
color:white;
display: flex;
justify-content: space-evenly;
align-items: center;



}


.footer_link{ 
display: flex;
width: 30%;
justify-content: space-evenly;
align-items: center;
}

.footer_social_logo{

display: flex;
width: 20%;
justify-content: space-evenly;
align-items: center;
}


.footer_link a,.navbar a, .side_bar a{
color: white;
text-decoration: none;
}






